
build/
/dist/
bin/
.classpath
/nbproject
/manifest.mf
/build.xml
.settings
.project
/logs
/log
target
.~lock*
.gradle/
.idea/
/nbproject/Makefile-*.mk
/nbproject/Package-*.bash
/nbproject/Makefile-Debug.mk
out/
*.iml
